{:paths   ["src/clj" "src/cljc"]
 :deps    {org.clojure/clojure {:mvn/version "1.11.1"}
           io.replikativ/datahike {:mvn/version "0.5.1507"}
           provisdom/spectomic {:mvn/version "1.0.78"}
           metosin/muuntaja {:mvn/version "0.6.8"}
           compojure/compojure {:mvn/version "1.7.0"}
           ring/ring {:mvn/version "1.9.5"}
           ;; is this a dev dependency
           org.clojure/test.check {:mvn/version "1.1.1"}
           }

 :aliases {;; Test runner in console.
           :test-runner {:extra-paths ["test"]
                         :extra-deps  {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                                  :sha     "a85b3b02765fb68684ab9ee4a8598eacf7e471d2"}}
                         :main-opts   ["-m" "cognitect.test-runner"]}

           :outdated    {:deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}
                         :main-opts ["-m" "antq.core"]}

           :kondo       {:deps {clj-kondo/clj-kondo {:mvn/version "2022.06.22"}}
                         :main-opts  ["-m" "clj-kondo.main" "--lint" "src" "test"]}

           :format      {:deps {mvxcvi/cljstyle {:mvn/version "0.15.0"}}
                         :main-opts ["-m" "cljstyle.main" "fix" "src" "test"]}

           :clj-kondo   {:deps {clj-kondo/clj-kondo {:mvn/version "2022.06.22"}}
                         :main-opts  ["-m" "clj-kondo.main"]}

           :clj-format  {:deps {mvxcvi/cljstyle {:mvn/version "0.15.0"}}
                         :main-opts ["-m" "cljstyle.main"]}

           :nrepl       {:extra-deps {cider/cider-nrepl   {:mvn/version "0.28.5"}}
                         :main-opts  ["-m" "nrepl.cmdline" "--middleware" "[cider.nrepl/cider-middleware]"]}
           }}
